/* shiftless reset */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Pingfang SC;
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, lightblue, lightgreen);
}
.App::after {
  content: 'right click to toggle menu';
  font-size: 18px;
  color: #F55D54;
}
